<div class="p-8 mt-8 flex justify-center">
    <mat-card class="shadow w-4/12">
        <mat-card-content>
            <div class="p-8">
                <p class="text-gray-700">{{ detailsContact.Name }}</p>
                <p class="text-gray-700">{{ detailsContact.Email }}</p>
                <p class="text-gray-700">{{ detailsContact.Phone }}</p>
                <div class="mt-4">
                    <p class="text-gray-700">Group:</p>
                    <mat-chip class="ml-2">{{ detailsContact.Group.GroupName }}</mat-chip>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>